<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/note">Note</a></li>
	        		<li><a href="/blog">Blog </a></li>
	    		</ul>
			</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jaekwangjk@gmail.com">email</a></li>
					<li><a href="https://scholar.google.com.au/citations?user=cUC6V7kAAAAJ&hl=en">
					Google Scholar</a></li>
	        		<li><a href="https://github.com/jaekwangjk">github.com/jaekwangjk</a></li>
					<li><a href="https://publish.illinois.edu/admal/">Admal's Lab</a></li>
				</ul>
			</footer>
		</body>
	</html>
