<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
			<nav>
	    		<ul>
	        		<li><a class="one" href="/">Home</a></li>
		        	<li><a class="one" href="/about.html">About</a></li>
					<li><a class="one" href="/research.html">Research</a></li>
					<li><a class="one" href="/publication.html">Publication</a></li>
					<li><a class="one" href="/cv.html">CV</a></li>
	        		<li><a class="one" href="/note.html">Note </a></li>
	    		</ul>
			</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a class="two" href="mailto:jaekwangjk@gmail.com">email</a></li>
					<li><a class="two" href="https://scholar.google.com.au/citations?user=cUC6V7kAAAAJ&hl=en">
					Google Scholar</a></li>
	        		<li><a class="two" href="https://github.com/jaekwangjk">github.com/jaekwangjk</a></li>
					<li><a class="two" href="https://publish.illinois.edu/admal/">Admal's Lab</a></li>
			</ul>
			</footer>
			
		</body>
	</html>
